annotated-types==0.7.0
blinker==1.8.2
cachetools==5.5.1
certifi==2024.8.30
charset-normalizer==3.4.1
click==8.1.7
distlib==0.3.8
filelock==3.16.0
Flask==3.0.3
Flask-MySQLdb==2.0.0
google-auth==2.38.0
google-genai==1.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
mysqlclient==2.2.7
numpy==2.0.1
pandas==2.2.2
pillow==11.1.0
pipenv==2024.0.2
platformdirs==4.3.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic_core==2.27.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
rsa==4.9
setuptools==75.1.0
six==1.16.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.3.0
virtualenv==20.26.4
websockets==14.2
Werkzeug==3.0.4
xlrd==2.0.1
